* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg,#1e1e2f,#4a4a78,)
}

.background {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 40px;
    width: 300px;
    color: #fff;
}

.form-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0x 8px 32px rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 40px;
    width: 300px;
    color: #fff;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 25px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ccc;
    color: #fff;
    outline: none;
    font-size: 16px;
}

.input-group label {
    position: absolute;
    top: 10px;
    left: 0;
    pointer-events: none;
    color: #aaa;
    transition: 0.3s ease;
}

.input-group input:focus + label,
.input-group input:valid + label {
    top: -12px;
    font-size: 12px;
    color: #ffff;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: rgba(255, 255, 255, 0.4);
}





















/*.body {
    margin: 0;
    padding: 0;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 220px;
    gap: 2em;
}

.Formulaire {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#mail {
    border-radius: 5em;
    width: 220px;
    height: 45px;
}

#password {
    border-radius: 5em;
    width: 220px;
    height: 45px;
}

.button {
    border-radius: 5em;
    width: 220px;
    height: 45px;
}*/

